{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        {{ if .Content }}
          <article class="post" id="top">
            {{ with .Params.covercaption }}
              <span class="post-header-cover-caption caption">{{ . | markdownify }}</span>
            {{ end }}
            {{ if or (not .Params.coverimage) (eq .Params.covermeta "out") }}
              {{ partial "post/header.html" . }}
            {{ end }}
            <div class="post-content markdown">
              <div class="main-content-wrap">
                {{ partial "audio-player.html" . }}
                {{ partial "audio-links.html" . }}
                {{ if and .Params.thumbnailimage (not .Params.coverimage)}}
                  {{/* If there's no cover image but there is a thumbnail, show it. */}}
                  <img class="list-thumbnail" src="{{ .Params.thumbnailimage | absURL }}"/>
                {{ end }}
                {{ .Content }}
                {{ partial "post/gallery.html" . }}
              </div>
            </div>
            <div id="post-footer" class="post-footer main-content-wrap">
              {{ partial "post/comment.html" . }}
            </div>
          </article>
        {{ end }}
        {{ if not .Params.dontListPages }}
          <section class="postShorten-group main-content-wrap">
            {{ if not .Content }}
              <h1>{{ .Type }}</h1>
            {{ end }}

            {{ if .Type }}
              {{ $ordering := (printf "%s_%s_order" .Type .Name) | urlize }}
              {{ range (.Paginate (.Pages.ByParam $ordering)).Pages }}
                {{ .Render "summary" }}
              {{ end }}
            {{ else }}
              {{ range .Paginator.Pages }}
                {{ .Render "summary" }}
              {{ end }}
            {{ end }}

            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
          </section>
        {{ end }}
      </div>
    </div>
{{ partial "foot.html" . }}
